.outgoingnotice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.outgoingnotice-button {
  width: 150px;
}
